@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.brand {
    font-size: 24px;
    font-weight: bold;
    padding: 20px 0px 0px 20px;
}

.card-container {
    position: relative;
    padding: 20px;
    height: 400px;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

/* Dark mode styles */
.dark-mode {
    background-color: black;
    color: #fff;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Toggle button styles */
.toggle-container {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 9999;
}

.dark-mode-toggle {
    background-color: transparent;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 24px;
    padding: 0px 0px 0px 0px;
    border-radius: 0px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dark-mode .dark-mode-toggle {
    color: white;
}

.dark-mode .card {
    box-shadow: none;
}

/* Smooth transition for background and color */
body {
    transition: background-color 0.3s ease, color 0.3s ease;
}
